	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main main-page">		
		<div class="main-block">			
			<div class="img-wrap main-bg">
					<img src="images/photo-2.jpg" alt="">
				</div>
				<div class="pagewrap">
					<div class="main-title-block">
						<h1 class="title">Ждем вас в Lash.Moda!<h1>
                        <div class="info-block">
                            <h2 class="info-title">Ваши услуги:</h2>
                            <p><span>Наращивание ресниц 2д</span></p>
                            <p><span>Стоимость:</span> 500 грн</p>
                            <p><span>Мастер:</span> Марина Иванова</p>
                            <p><span>Дата:</span> 15.07.18</p>
                            <p><span>Время:</span>13.00</p>
                            <p class="info-text">* Примечание</p>
                            <div class="button-wrap row">
                                <a href="" class="form-button dark trans md">Связаться с нами</a>
                            </div>
                            <a href="index.html" class="link">Вернуться на главную</a>                               
                        </div>
				</div>	
			</div>
		</div>
	</main>
	 {% endblock %} 
