	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main main-page">		
		<div class="main-block">			
			<div class="img-wrap main-bg">
					<img src="images/photo-2.jpg" alt="">
				</div>
				<div class="pagewrap">
					<div class="main-title-block">
						<h1 class="title">Название салона</h1>
					<div class="logo-block">
						<img src="images/logo.png" alt="">
					</div>					
					<div class="button-wrap">
						<a href="select-service.html" class="button trans">Заказать услугу</a>
						<a href="" class="button mt trans">История посещений</a>
					</div>
				</div>	
			</div>
		</div>
	</main>
	 {% endblock %} 
