	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main select-page">	
            {% include "title-block.html" %}	
		<div class="pagewrap flex aifs">
            <div class="col-60 content-wrap mt pr">
                <h2 class="content-title center">Выберите мастера</h2>   
                <div class="panel-group">
                    <div class="panel-header">
                        <h4 class="panel-title">
                            <a href="">
                                <span>Любой мастер</span>
                            </a>
                            <label class="control control--checkbox">
                                <input type="radio" name="sel"/>
                                <div class="control__indicator"></div>
                            </label>                           
                        </h4>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel-header">
                        <h4 class="panel-title">
                            <a href="">
                                <span>Только женщина</span>
                            </a>
                            <label class="control control--checkbox">
                                <input type="radio" name="sel"/>
                                <div class="control__indicator"></div>
                            </label>                           
                        </h4>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel-header">
                        <h4 class="panel-title">
                            <a href="">
                                <span>Только мужчина</span>
                            </a>
                            <label class="control control--checkbox">
                                <input type="checkbox" disabled="disabled"/>
                                <div class="control__indicator"></div>
                            </label>                           
                        </h4>
                    </div>
                </div>         
                <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-header">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="collapsed">
                                    <span>Выбрать мастера</span>
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="panel__list">
                                        <li class="panel__item">                                           
                                            <div class="checkbox-block">
                                                    <label class="control control--radio">
                                                        <input type="radio" name="radio" checked="checked"/>
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                <label for="" class="label ml bold">Марина Иванова</label>
                                                <p class="label-descr mar">Мастер лешмейкер</p>
                                            </div>
                                            <div class="img-wrap panel-photo">
                                                <img src="images/photo-1.jpg" alt="">
                                            </div>                         
                                                                                    
                                        </li>
                                        <li class="panel__item">                                           
                                            <div class="checkbox-block">
                                                <label class="control control--radio">
                                                    <input type="radio" name="radio" checked="checked"/>
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label for="" class="label ml bold">Валентина Петрова</label>
                                                <p class="label-descr mar">Мастер лешмейкер</p>
                                            </div>
                                            <div class="img-wrap panel-photo">
                                                <img src="images/photo-1.jpg" alt="">
                                            </div>                                                                                       
                                        <!-- <div class="content-block">                                                
                                                <button class="form-button trans sm">Выбрать</button>
                                            </div>  -->                                          
                                        </li>                                         
                                    </ul>
                                </div>
                            </div>
                        </div>                            
                </div> 
                <div class="button-wrap row">
                    <a href="select-service.html" class="form-button dark trans sm mr">Назад</a>
                    <a href="select-time.html" class="form-button trans sm">Далее</a>
                </div>
            </div>
            
            {% include "right-block.html" %}
            
        </div>
	</main>
	 {% endblock %} 
